.content {
    height: 867px;
    background-image: url(../images/liyue/liyue-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content .nav {
    position: relative;
    margin-left: 37px;
    width: 200px;
    height: 867px;
    /* background-color: pink; */
    border-left: 2px solid #fff;
}

.content .nav li{
    position: absolute;
    left: -39px;
    top: 220px;
    width: 326px;
    height: 54px;
    /* background-color: skyblue; */
}

.content .nav li:nth-child(2) {
    position: absolute;
    left: -39px;
    top: 320px;
    width: 326px;
    height: 54px;
    /* background-color: skyblue; */
}

.content .nav li:nth-child(3) {
    position: absolute;
    left: -39px;
    top: 420px;
    width: 326px;
    height: 54px;
    /* background-color: skyblue; */
}


.content .nav a {
    position: absolute;
    right: 170px;
    color: #fff;
    font-size: 20px;
    line-height: 54px;
}

.content .nav a:hover {
    color: #ccf4f4;
}

.content .nav img {
    position: absolute;
    left: 11px;
    width: 54px;
}

.select {
    background-image: url(../images/select-city.png);
}

.content .box {
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.content .box .role {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    width: 800px;
    height: 150px;
    /* background-color: skyblue; */
    overflow-x: auto;
    overflow-y: hidden;
}

.content .box .role ul {
    width: 2312px;
}

.content .box .role li {
    float: left;
    margin-right: 30px;
    position: relative;
    width: 106px;
    height: 130px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
}

.content .box .role li:hover {
    border-top: 2px solid #fff;
    box-shadow: 0 0 40px #fff;
}

.content .box .role li img {
    position: absolute;
    left: 0;
    top: 3px;
}

.content .box .role li span {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 106px;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    color: #fff;
}

.content .box .role .select {
    background-color: #fff;
    border-top: 2px solid #fff;
    box-shadow: 0 0 40px #fff;
}

.content .box .introduce{
    z-index: -1;
    position: absolute;
    right: 0;
    top: -668px;
    width: 1500px;
    height: 900px;
    /* background-color: skyblue; */
    overflow: hidden;
}

.content .box .introduce .lihui img {
    position: absolute;
    left: 240px;
    top: -21px;
    width: 1450px;
}

.content .box .introduce .info img {
    position: absolute;
    left: 150px;
    top: 400px;
}

.content .box .introduce .yuansu img{
    position: absolute;
    left: 250px;
    top: 0;
    opacity: 0.5;
}

.content .box .introduce .intro {
    position: absolute;
    left: 210px;
    top: 180px;
    width: 400px;
    height: 200px;
    /* background-color: skyblue; */
}

.content .box .introduce .intro img {
    position: absolute;
    left: -220px;
    top: -150px;
}

.content .box .introduce .intro .duce {
    position: absolute;
    left: -60px;
    top: 50px;
    padding: 20px 10px 20px 10px;
    width: 500px;
    height: 150px;
    background-color: rgba(0,0,0,0.5);
    overflow: scroll;
    overflow-x: hidden;
    color: #fff;
}

.content .box .introduce .lihui .select {
    display: none;
}

.content .box .introduce .info .select {
    display: none;
}

.content .box .introduce .yuansu .select {
    display: none;
}

.content .box .introduce .intro .select {
    display: none;
}